<form action="/leagues" method="GET">

<div>Search League: <input type="search" name="search"/></div>
<div>Case sensitive: <input type="checkbox" name="cs" value="case-sensitive"/></div>
<input type="submit" value="Search"/>

</form>