<html>

<head>
    <title>Leagues</title>
    <style>
        div, span {
            border: 1px solid black
        }

        span {
            display: block;
        }

        div {
            display: inline;
        }

        #special {
            position: absolute;
            top: 30px;
            left: 60;
            background: green;

        }
        #special2 {
            position: absolute;
            top: 40px;
            left: 70;
            background: blue;
            z-index: 1
        }
    </style>
</head>

<body>
    <div>Div1</div>
    <div>Div2</div>
    <div>Div3</div>
    <div>Div4</div>

    <span>Span1</span>
    <span>Span2</span>
    <span id="special2">Span3</span>
    <span id="special">Span4</span>

</body>

</html>